# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/.env
.pnp.js

# testing
/coverage

# production
/build

# misc
This project is build using ReactJs frontend framework and with the help of other different libraries present into it.
I have started the approach by taking the navbar section then a beautiful slidet to cover the things up then a search bar
is there to have a look between the products. 

In CSS i have used Media queries for the responsivenes by measuirng the x and y horizons and how it will look into different screens. 
This website is no optimised for faster loading since instead of fragments lot of div tags are used .




You can run the project in your system by the command:  npm start
It was deployed by using npm run build
The project is hosted on Netlify
